<?xml version = "1.0" encoding = "UTF-8"?>
<beans 
   xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context = "http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-4.0.xsd">

  <!--  <bean id = "helloWorld" class = "com.test.model.HelloWorld">
      <property name = "message" value = "Hello World!"/>
   </bean> -->
   <context:annotation-config>
   </context:annotation-config>

    <context:component-scan base-package="com.lti.servicesImp"></context:component-scan>
    <context:component-scan base-package="com.lti.serviceDAO"></context:component-scan>
    <context:component-scan base-package="com.lti.model"></context:component-scan>
    <context:component-scan base-package="com.lti.DAO"></context:component-scan>
    <context:component-scan base-package="com.lti.DAOImp"></context:component-scan>
    
    
    <bean  id="numberGenrator" class="com.lti.model.NumberGenrator"></bean>

<bean id="randomNumber" factory-bean="numberGenrator" factory-method="getNumber"></bean>


<bean id="sessionFactory" class="util.HibernateUtil" factory-method="getSessionFactory"></bean>

<bean id="address" class="com.lti.model.Address"  > 
<property name="streetName"  value="Fackland Road"></property>
<property name="city"  value="Mumbai"></property>
<property name="pincode"  value="401303"></property>
</bean>


<bean id="department" class="com.lti.model.Department"> 
<property name="deptid"  value="10"></property>
<property name="deptname"  value="IT"></property>
</bean>


<bean id="employee"  scope="prototype" init-method="init" destroy-method="destroy" class="com.lti.model.Employee"  > 
<property name="id" >
<value >10</value>
</property>

<property name="name" value="Steven"></property>
<property name="add"  ref="address"></property>
<property name="depart"  ref="department"></property>
</bean>

</beans>